<h1>welcome to about</h1>
<table border="1">
    <tr>
        <td>
            your name:
        </td>
        <td>
            <input type="text">
        </td>
    </tr>
    <tr>
        <td>
            your age:
        </td>
        <td>
            <input type="text">
        </td>
    </tr>
    <tr>
        <td>
            your email:
        </td>
        <td>
            <input type="text">
        </td>
    </tr>
    <tr>
        <td>
            your mobile:
        </td>
        <td>
            <input type="text">
        </td>
    </tr>
    <tr>
        <td>
            <button>Send</button>
        </td>
    </tr>

</table>